<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
<<<<<<< HEAD
    <title><%=title%></title>
  </head>
  <body>
    <h1>Members Home</h1>
=======
    <title>Members</title>
  </head>
  <body>
    <h1>Members Home Page</h1>
>>>>>>> 4dec92912e6b847fcd221c3d53ad30e0c53efee7
  </body>
</html>
