<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign in</title>
  </head>
  <body>
    <form action="/signin" method="post">
      Email: <input type="email" name="email" id="email" value="" required><p>
      Password: <input type="password" name="password" value="" required><p>
      <input type="submit" name="signin" value="Sign in">
    </form>
  </body>
  <script type="text/javascript">
    <%
      if(messages.warning) {
    %>
      alert('<%=messages.warning%>');
    <% } %>
  </script>
</html>
